@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic|Lora:400,400italic,700,700italic);

html{
    scroll-behavior: smooth;
}
body{
    background-color: #E7E7E7;
    padding: 25px 10px;
    font-family: Lora, sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: Roboto Mono, sans-serif;
}

/* Navigation Bar start............................. */
header{
    position: fixed;
    top: 25px;
    right: 25px;
    background-color: black;
    box-sizing: border-box;
    z-index: 10;
}
nav{
    margin: 0;
    display: none;
    float: left;
    transform:translateY(-15px);
}
nav ul{
    margin: 0;
    padding: 0;
    padding-top: 10px;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    display:block;
    margin: 10px 0px 0px;
    padding: 10px 20px 0px;
	font-size:12px;
	font-weight:500;
	text-transform:uppercase;
	letter-spacing:2px;
	color:rgba(255,255,255,.6);
	text-decoration:none;
	transition:all .3s ease;
}
.menu-toggle{
    margin: 0;
    padding: 10px;
    height: 50px;
    width: 50px;
    float: right;
    border-left: 1px solid white;

}
#bar1{
    margin-top: 7px;
    height: 1px;
    width: 100%;
    background-color: white;
    transition: 0.5s;
}
#bar2{
    margin-top: 7px;
    height: 1px;
    width: 100%;
    background-color: white;
    transition: 0.5s;
}
#bar3{
    margin-top: 7px;
    height: 1px;
    width: 100%;
    background-color: white;
    transition: 0.5s;
}

.change #bar1{
    transform: rotate(-45deg) translate(-5px, 5px);
    transition: 0.5s;
}
.change #bar2{
    opacity: 0;  
}
.change #bar3{
    transform: rotate(45deg) translate(-7px, -6px);
    transition: 0.5s;
}
header nav ul li a:hover{
    color: white;
    text-decoration: none;
}
/* Navigation Bar End............................. */





/* intro section  Start.................................... */
.intro{
    background: #ffffff;
    margin: 0;
    padding: 1rem;
    overflow: hidden;
}
.intro-section-left{
    margin-top: 28%;
}
.intro-section-left h1{
    color: #202020;
    font-family: "Roboto Mono", sans-serif;
    font-size: 78px;
    line-height: 85px;
    font-weight: 300;
}
.intro-section-left p{
    color: #000000;
    font-family: Lora, sans-serif;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.5;
    margin-top: 2rem
}
.custom-btn-intro{
    background: #000000;
    border: 5px double white;
    margin-top: 2.5rem;
}
.custom-btn-intro img{
    width: 180px;
    height: 45px;
}
.custom-btn-intro:hover{
    background: #000000;
    border: 5px double white;
}
.intro-section-right{
    max-height: 670px;
    padding: 5rem;
}
/* Section 1 End.................................... */




/* features start.................................... */
.features{
    background: #ffffff;
    padding: 2rem;
}
.features-img{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.features-title{
    max-width: 70%;
    margin: 0px auto;
    text-align: center;
}
.features-title h2{
    color: #202020;
    font-family: "Roboto Mono", sans-serif;
    font-size: 38px;
    line-height: 41px;
    font-weight: 300;
    margin-bottom: 1.7rem;
}
.features-title p{
    color: #000000;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    opacity: 0.5;
}
.features-item{
    margin-top: 6rem;
    margin-bottom: 3rem;
}
.features-item i{
    color: #333333;
    font-size: 54px;
    line-height: 77px;
}
.features-item h4{
    color: #333333;
    font-family: "Roboto Mono", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.features-item p{
    color: #000000;
    font-family: Lora, sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    opacity: 0.5;
}
/* features Section End.................................... */




/* features-1 start --------------------------------------- */
.features-1{
    background: #F2F2F2;
    padding: 2rem;
    overflow: hidden;
}
.features-1-left{
    padding-top: 35%;
    padding-bottom: 9rem;
}
.features-1-left h2{
    color: #333333;
    font-family: "Roboto Mono", sans-serif;
    font-size: 38px;
    line-height: 42px;
    font-weight: 300;
}
.features-1-left p{
    color:#000000;
    font-family: Lora, sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    opacity: 0.5;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.btn-1{
    padding: 14px 22px;
    line-height: 1em;
    border-radius: 0px;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    transition: 0.5s;
}
.btn-1:hover{
    background-color: black;
    color: white;
}
.features-1-right{
    position: relative;
    min-height: 550px;
}
.front-img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
}
.back-img{
    position: absolute;
    top: 73px;
    right: 0px;
    z-index: 400;
}

/* features-2 start */
.features-2{
    background: #ffffff;
    padding: 2rem;
    overflow: hidden;
}





/* screenshots section --------------------------------------- */
.screenshots{
    background: #F2F2F2;
    padding: 2rem;
    overflow: hidden;
}
.screenshots-title{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.screenshots-title h2{
    color: #333333;
    font-family: "Roboto Mono", sans-serif;
    font-size: 34px;
    line-height: 37px;
    font-weight: 700;
    letter-spacing: 1px;
}
.screenshots-title p{
    color: #000000;
    font-family: Lora, sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    opacity: 0.5;
}
.items{
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    transition: 0.5s ease;
    transform: scale(0);
}
.items:hover .overlay{
    transform: scale(1);
}
.overlay i{
    color: #ffffff;
    font-size: 70px;
    opacity: 0.5;
    margin-top: 75%;
}
.overlay i:hover{
    background: #000000;
    color: #ffffff;
    opacity: 1;
}
.items img{
    height: 480px;
}
.owl-theme .owl-dots .owl-dot span {
    width: 35px;
    height: 5px;
    border-radius: 0;
    margin-top: 1.5rem;
}




/* design section */
.design{
    background: #ffffff;
    padding: 2rem;
    overflow: hidden;
}
.design-img{
    padding: 1rem;
}
.design-left, .design-right{
    margin-top: 20%;
}
.design-left i{
    color: #333333;
    font-size: 54px;
    line-height: 90px;
    font-weight: 100;
}
.design-right i{
    color: #333333;
    font-size: 54px;
    line-height: 90px;

}
.design-left h4, .design-right h4{
    color: #333333;
    font-family: "Roboto Mono", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.design-left p, .design-right p{
    color: #000000;
    font-family: Lora, sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    opacity: 0.5;
}




/* video-section ------------------------------------------- */
.video-section{
    background: #F2F2F2;
    padding: 5rem;
}
.video-section-left{
    margin-top: 20%;
}
.video-section-left h2{
    color: #333333;
    font-size: 34px;
    font-family: "Roboto Mono", sans-serif;
    line-height: 48px;
    font-weight: 300;
    margin-bottom: 1.8rem;
}
.video-section-left p{
    color: #000000;
    font-family: Lora, sans-serif;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.5;
}
.video-section-right{
    width: 100%;
    height: 380px;
}
.video-section-right iframe{
    width: 100%;
    height: 100%;
}






/* Pricing section ------------------------------------- */
.price-section{
    background: #ffffff;
    padding: 5rem 2rem;
}
.price-text{
    margin-top: 10%;
}
.price-text h2{
    color: #333333;
    font-family: "Roboto Mono", sans-serif;
    font-size: 34px;
    line-height: 48px;
    font-weight: 300;
}
.price-text p{
    color: #000000;
    opacity: 0.5;
    font-family: Lora, sans-serif;
    line-height: 23px;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.price-btn{
    padding: 8px 22px;
    border-radius: 0px;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.5s;
}
.price-btn:hover{
    background-color: black;
    color: white;
}
.card{
    border: 2px solid #E7E7E7;
}
.card-decoration h4{
    color: #333333;
    font-family: "Roboto Mono", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 2.5rem;
}
.card-decoration p{
    text-align: center;
    font-weight: 500;
    font-size: 14px;    
}
.card-decoration a{
    margin-top: 0px;
}
.card-decoration p{
    color: #000000;
    opacity: 0.5;
    font-family: Lora, sans-serif;
    line-height: 20px;
    font-weight: 500;
}
.currency{
    position: relative;
    top: -40px;
    letter-spacing: 10px;
    display: inline-block;
    font-family: Lora, sans-serif;
}
.amount{
    color: #333333;
    font-family: "Roboto Mono", sans-serif;
    font-size: 84px;
    font-weight: 600;
    position: relative;
    display: inline-block
}
.period{
    color: #000000;
    opacity: 0.5;
    font-size: 14px;
    initial-letter: 3px;
    font-weight: 400;
    font-family: "Roboto Mono", sans-serif;
    vertical-align: baseline;
    text-transform: uppercase;
}



/* newsletter section --------------------------------------- */
.newsletter{
    background: url('../img/bg1.jpg') top right;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.newsletter-body{
    padding-top: 10%;
    width: 50%;
    margin: 0px auto;
}
.newsletter-body h2{
    color: #ffffff;
    font-family: "Roboto Mono", sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 26px;
    font-weight: 500;
    text-transform: uppercase;
}
.newsletter-body p{
    color: #ffffff;
    font-family: Lora, sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    margin-top: 1rem;
    opacity: 0.5;
}
.subscribe-field{
    margin: 0;
    border: 1px solid rgba(255, 255, 255, .4);
    border-right: none;
    background: transparent;
    outline: none;
    color: #D2D2D2;
    border-radius: 0px;
    height: 46px;
}
.subscribe-btn{
    color: #ffffff;
    font-family: "Roboto Mono", sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 0px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .4);
    border-left: none; 
}
.subscribe-btn:hover{
    color: #ffffff;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .4);
    border-left: none; 
}
.subscribe-field:focus{
    background: transparent;
    border: 1px solid #ffffff;
    box-shadow: none;
}



/* Team section ---------------------------------- */
.team{
    background: #ffffff;
    padding-top: 6rem;
    padding-bottom: 6rem;
    overflow: hidden;
}
.team-content{
    padding-top: 10%;
}
.team-content h2{
    color: #333333;
    font-family: "Roboto Mono", sans-serif;
    font-size: 34px;
    line-height: 48px;
    font-weight: 300;
    margin-bottom: 1rem;
}
.team-content p{
    color: #000000;
    opacity: 0.5;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 1rem;
}
.team-btn{
    padding: 8px 22px;
    border-radius: 0px;
    font-family: "Roboto Mono", sans-serif;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.5s;
}
.team-btn:hover{
    background-color: black;
    color: white;
}
.team-img{
    margin: 2px;
}
.team-img:hover .overlay{
    transform: scale(1);
}
.social-team{
    position: relative;
    top: 0;
}
.social-team h4{
    color: #ffffff;
    font-family: "Roboto Mono", sans-serif;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20%;
}
.social-team p{
    color: #ffffff;
    font-family: Lora, sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    opacity: 0.5;
}
.social-team ul{
    list-style-type: none;
    padding-left: 0;
}
.social-team ul li{
    display: inline-block;
    padding: 10px;
    
}
.social-team ul li i{
    font-size: 14px;
}





/* Clients section -------------------------------- */
.clients{
    background: #F2F2F2;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.our-clients h2{
    color: #333333;
    font-family: "Roboto Mono", sans-serif;
    line-height: 34px;
    font-size: 34px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.our-clients p{
    color: #000000;
    font-family: Lora, sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    opacity: 0.5;
}
.logo-decoration{
    border: 1px solid #C0C0C0;
    padding: 25px;
    margin: 0;
    transition: 0.5s;
}
.logo-decoration img{
    opacity: 0.4;
    transition: 0.5s ease;
}
.logo-decoration:hover{
    border: 1px solid black;
}
.logo-decoration:hover img{
    opacity: 1;
}
.client-carousel{
    padding-top: 2rem;
    padding-left: 2rem;
}
.carousel-item{
    position: relative;
    top: 0;
}
.carousel-icon{
    font-size: 80px;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
}
.carousel-item p{
    color: #333333;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    font-family: Lora, sans-serif;
    margin-top: 10px;
}







/* FAQ section -------------------------------------------- */
.faq{
    background: #ffffff;
    padding: 2rem;
}
.faq-title{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.faq-title h2{
    color: #333333;
    font-family: "Roboto Mono", sans-serif;
    font-size: 34px;
    line-height: 38px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.faq-title p{
    color: #000000;
    font-family: Lora, sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    opacity: 0.5;
}
.faq-content h4{
    color: #333333;
    font-family: "Roboto Mono", sans-serif;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;

}
.faq-content p{
    color: #000000;
    opacity: 0.5;
    font-size: 14px;
    font-family: Lora, sans-serif;
    line-height: 23px;
    font-weight: 400;
}



/* app section -------------------------------------------- */
.app{
    background: url('../img/bg1.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 400px;
    overflow: hidden;
    padding-bottom: 2rem;
}
.app-content{
    width: 800px;
    margin: 7% auto 0;
}
.app-content h2{
    color: #ffffff;
    font-family: "Roboto Mono", sans-serif;
    font-size: 48px;
    line-height: 52px;
    font-weight: 300;
    margin-bottom: 2rem;
}
.app-content p{
    color: #ffffff;
    font-family: Lora, sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}
.app-btn img{
    width: 135px;
    height: 40px;
}
.app-btn a{
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 0px;
    margin-left: 20px;
}




/* contact us section --------------------------------------------- */
.contact{
    background: #ffffff;
    padding-top: 6rem;
    padding-bottom: 6rem;
    overflow: hidden;
}
.contact-title{
    margin-top: 1rem;
}
.contact-title h2{
    color: #333333;
    font-family: "Roboto Mono", sans-serif;
    font-size: 34px;
    letter-spacing: 2px;
    line-height: 37px;
    font-weight: 700;
}
.contact-title p{
    color: #000000;
    opacity: 0.5;
    font-family: Lora, sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin-top: 1rem;
}
.custom-form{
    border-radius: 0px;
    border-color: #555555;
    padding: 20px;
    opacity: 0.5;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: Lora, sans-serif;
}
.custom-form:focus{
    box-shadow: none;
    border: 1px solid #000000;
}
.custom-btn-contact{
    width: 100%;
    border: 1px solid #5555555e;
    border-radius: 0px;
    color: #000000;
    font-size: 14px;
    font-family: "Roboto Mono", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.5s ease;
    line-height: 25px;
    background: transparent;
    font-weight: 500;
}
.custom-btn-contact:hover{
    background: #202020;
    color: #ffffff;
}





















/* Section 15 Start.................................... */
.section-15{
    background-color: #ffffff;
    padding: 5% 0%;
}
.section-15 h2{
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.section-15 p{
    color: rgba(0, 0, 0, .4);
    font-size: 16px;
    margin: 0;
    text-align: center;
}
.form-decoration{
    border: 1px solid black;
    border-radius: 0px;
    height: 45px;
    color: rgba(0, 0, 0, .4);
    padding: 6px 12px;
}
.form-decoration-1{
    border: 1px solid black;
    border-radius: 0px;
    height: 45px;
    color:black;
    padding: 6px 12px;
    text-transform: uppercase;
    word-spacing: 3px;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 500;
}
.btn-outline-primary:hover {
    background-color: black;
}



/* footer Section Start.................................... */
.footer{
    background-color: #E7E7E7;
    padding-top: 40px;
}
.footer p{
    text-align: center;
    color: rgba(0, 0, 0, .4);
    font-size: 14px;
}


/* Media Query Section Start.............. */
@media only screen and (max-width: 576px) {
    nav ul li{
        display: block;
    }
    .intro-section-left h1{
        font-size: 60px;
    }
    .intro-section-left P{
        font-size: 16px;
        margin-top: 1rem;
    }
    .custom-btn-intro{
        margin-top: 1rem;
    }
    .intro-section-right{
        padding: 1rem;
    }
    .features-title{
        max-width: 100%;
    }
    .features-item{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .features-1-left{
        padding-bottom: 2rem;
    }
    .features-1-right {
        min-height: 408px;
    }
    .screenshots-title{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .screenshots-title h2{
        font-size: 28px;
    }
    .design-img{
        padding: 0;
    }
    .video-section{
        padding: 0px;
    }
    .price-section{
        padding: 1rem 0rem;
    }
    .price-btn {
        margin-bottom: 1rem;
    }
    .newsletter-body{
        width: 100%;
    }
    .newsletter {
        height: 260px;
    }
    .team{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .team-btn{
        margin-bottom: 1rem;
    }
    .card{
        margin-bottom: 1rem;
    }
    .clients{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .logo-decoration{
        margin: 10px;
    }
    .faq-title{
        padding-top: 1rem;
        padding-bottom: 3rem;
    }
    .app{
        height: auto;
    }
    .app-content{
        width: 100%;
    }
    .app-btn a{
        margin-bottom: 1rem;
    }
    .contact{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .back-img{
        position: absolute;
        top: 73px;
        right: -35px;
        z-index: 400;
    }
  }
